?<cmp 
	counter = ""
	javascript = ""
	name = "www.i62.org"
	link = "http://www.i62.org/"
	link_target = "_blank"
	description = "&lt;b&gt;&lt;font size=&quot;13px&quot;&gt;&lt;font color=&quot;#AA9234&quot;&gt;www.i62.org"
	skins = "i62.zip"
	plugins = "announce.swf,buffernext.swf,youku.swf,tudou.swf,qiyi.swf,ads.swf,sohu.swf,proxy.swf"
	backgrounds = ""
	lists = "xgzwl.xml"
	youku_handler="http://www.yy6864.com/cmp/tools/yo.php?id="
	proxy = "http://proxy.player.yy6080.org/"
	src_handler = "" 
	lrc_handler = ""

	skin_id = "1"

	play_id = ""
	auto_play = "1"
        click_play = "1"
	list_delete = ""
	
	sound_sample = "true"
	mixer_displace = "true"
	mixer_filter = "true"
         ads=""
        announce_xywh = "0,0,100P,20"
        announce_speed = "2" 
        announce_content = "&lt;b&gt;&lt;font size=&quot;15px&quot;&gt;&lt;font color=&quot;#AA9234&quot;&gt;www.i62.org£¡&lt;/font&gt; &lt;font color=&quot;#ADB8B8&quot;&gt;www.i62.org&lt;/font&gt; &lt;font color=&quot;#AA9234&quot;&gt;¢Ûwww.i62.org&lt;/font&gt; &lt;font color=&quot;#ADB8B8&quot;&gt;¢Üwww.i62.org&lt;/font&gt; &lt;font color=&quot;#AA9234&quot;&gt;"
	
/>